
.tabelle{
   border: 2px solid black;
   margin: 0 auto;
   width: 450px;
   text-align: center;
   padding: 20px;
 
}
table tr td {
    
    
    margin: 10px;
    text-align: left;
    font-size: medium;
    padding: 10px; 
}


.tabelle2{
  margin-top: 200px;
  text-align: left;
  color: black;
  font-size: 25px;
  word-spacing: 20px;
  padding-left: 5px;
  border: 1px solid blue;

}

.Text{
  font-size: 16pt;
  font-family: Arial, Helvetica, sans-serif;
}
