
table{
    width: 100%;
}
td {
    border-bottom: 1px solid rgba(149, 233, 229, 0.61);
    
  }

#first{
    width: 30%;
}
#second{
    width: 50%;
}
#third{
    width: 20%;
}
.Hintergrund{
    background-color: black;
}
.container{
    color: rgba(149, 233, 229, 0.61);
    width: 800px;
    margin: auto;
    background-color: black;
    max-width: fit-content;
}

.card{
    color: white;
    background-color: black;
    border: 3px solid rgb(46, 134, 130);
    
}


h1{
    text-align: center;
    
}
h4{
    text-align: center;
}

.navbar{
    background-color: rgba(149, 233, 229, 0.61);
}

 /* Sternebewertung */ 
            
            
 span.sternebewertung { 
    float: left;
    width: 58%;
   } 
   
   span.sternebewertung:not(:checked) > input { 
    display: None; 
   } 
   
   span.sternebewertung:not(:checked) > label { 
    float: Right; 
    width: 1em; 
    padding: 0 .1em; 
    overflow: Hidden; 
    white-space: Nowrap; 
    cursor: Pointer; 
    font-size: 100%; 
    line-height: 1.2; 
    color: #D0D0D0; 
    transition: all .5s; 
   } 
   
   span.sternebewertung:not(:checked) > label:before { 
    content: '☆'; 
   } 
   
   span.sternebewertung > input:checked ~ label { 
    color: rgba(149, 233, 229, 0.61); 
     
   } 
   
   span.sternebewertung:not(:checked) > label:hover, 
   span.sternebewertung:not(:checked) > label:hover ~ label { 
    color: rgba(149, 233, 229, 0.61);  
   } 
   
   span.sternebewertung > input:checked + label:hover, 
   span.sternebewertung > input:checked + label:hover ~ label, 
   span.sternebewertung > input:checked ~ label:hover, 
   span.sternebewertung > input:checked ~ label:hover ~ label, 
   span.sternebewertung > label:hover ~ input:checked ~ label { 
    color: rgba(149, 233, 229, 0.61); 
   } 
  
 
  
  
  
