<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

<header>

    <div class="leftbox">
        <p id="webtitle">
            Play & Learn 
        </p>
    </div>

    <nav id="desktop">

        <div class="rightbox">
            <ul>                                                                <!--Unordered List-->

                <li><a href="/src/index.html">Startseite</a></li>


                <li><a href="">Menu Entry 1</a>
                    <ul>
                        <li><a href="">Menu Entry 1.1</a></li>
                        <li><a href="">Menu Entry 1.2</a></li>
                    </ul>
                </li>

                <li><a href="">Menu Entry 2</a>
                    <ul>
                        <li><a href="">Menu Entry 2.2</a></li>
                        <li><a href="">Menu Entry 2.2</a></li>
                        <li><a href="">Menu Entry 2.3</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        

    </nav>

    <nav id="mobile">
        <div id="menuToggle">
            <input type="checkbox" />
      
            <span></span>
            <span></span>
            <span></span>
      
            <ul id="menu">                                                                <!--Unordered List-->
                <li><a href="/play-and-learn-edit/docs/index.html">Startseite</a></li>

                <li><a href="">Menu Entry 1</a>
                    <ul>
                        <li><a href="">Menu Entry 1.1</a></li>
                        <li><a href="">Menu Entry 1.2</a></li>
                    </ul>
                </li>

                <li><a href="">Menu Entry 2</a>
                    <ul>
                        <li><a href="">Menu Entry 2.2</a></li>
                        <li><a href="">Menu Entry 2.2</a></li>
                        <li><a href="">Menu Entry 2.3</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>