body {
    margin-top: 2cm;
    font-family: verdana;
}

img {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    width: 13cm;
}

.tuerkis {
    color: rgb(15, 216, 139);
}

.rosa {
    color: rgb(235, 111, 127)
}