<html>
<head>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="Platzhalter"></div>
    <p class="para"><b>ATTENTION: If this application does not work in your browser, you need a CORS extention.</b></p>
    <br>
    <p>The creator of the app recommends Brave Browser with the <a href="https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc" target="_blank">Moesif Origin & CORS Changer</a> </p>
    <br>
    <div class = 'container'>
        <!-- Row Crypto 1 -->
        <div class='row text-center batRow'>
            <div class = 'col-lg-12'>
                <p id='crypto1'>One Basic Attention Token is currently valued at USD:</p>
            </div>
        </div>
        <!-- Row Crypto 2 -->
        <div class='row text-center'>
            <div class = 'col-lg-12'>
                <p id='crypto2'>One Ether is currently valued at USD:</p>
            </div>
        </div>
        <!-- Row Crypto 3 -->
        <div class='row text-center'>
            <div class = 'col-lg-12'>
                <p id='crypto3'>One Bitcoin is currently valued at USD:</p>
            </div>
        </div>
        <!-- Row Crypto 4 -->
        <div class='row text-center'>
            <div class = 'col-lg-12'>
                <p id='crypto4'>One Binance Coin is currently valued at USD:</p>
            </div>
        </div>
        <!-- Row Crypo 5 -->
        <div class='row text-center'>
            <div class = 'col-lg-12'>
                <p id='crypto5'>One Bit Connect Coin is currently valued at USD:</p>
            </div>
        </div>
    </div>

</body>
</html>