 <p></p>

<!-- The parent component -->
<div class="curtain">
    
    <!-- The component wrapper -->
  <div class="curtain__wrapper">
    
    <!-- The checkbox hack! -->
        <input type="checkbox" checked>
    
    <!-- The left curtain panel -->
    <div class="curtain__panel curtain__panel--left">
            <div class="outer">
                    <div class="middle">
                      <div class="inner">
                        <h1><h1 class="vertical-center">Vorhang</h1></h1>
                      </div>
                    </div>
                  </div>
    </div> <!-- curtain__panel -->
    
    <!-- The prize behind the curtain panels -->
    <div class="curtain__prize">

        <p></p>
        <img src="https://source.unsplash.com/800x450/?prize,win,preis,sieg,gewinn" alt="Prize" class="center">
        <h4><h1 class="center">HEUTE GIBT ES EIN ZUFÄLLIGES BILD MIT DEM THEMA "Preis" ZU GEWINNEN!!!</h1></h4>
    </div> <!-- curtain__prize -->
    
    <!-- The right curtain panel -->
    <div class="curtain__panel curtain__panel--right">
            <div class="outer">
                    <div class="middle">
                      <div class="inner">
                        <h1><h1 class="vertical-center">öffnen!</h1></h1>
                      </div>
                    </div>
                  </div>
    </div> <!-- curtain__panel -->
    
  </div> <!-- curtain__wrapper -->
</div> <!-- curtain -->
  
