<div>
    <p>unterseite works!</p>
    <br>
    <h1>Testtesttesttest</h1>
    <button type="button">Click Me!</button>
    <p>addition(2,4)</p>


  <div class="container">
    <h2>Rechner</h2>
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Addition
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <form>
              <label for="z1"> </label>
              <input type="number" id="z1" placeholder="Zahl1">
              <label for="z2">  addiert mit   </label>
              <input type="number" id="z2" placeholder="Zahl2">
              <br>
              <button type="submit" class="btn"> Berechnen</button>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Subtraktion
        </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <form>
              <label for="z1">Zahl 1 eingeben: </label>
              <input type="number" id="z1" placeholder="Zahl1">
              <br>
              <label for="z2">Zahl 2 eingeben: </label>
              <input type="number" id="z2" placeholder="Zahl2">
              <br>
              <button type="submit" class="btn"> Berechnen</button>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Multiplikation
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <form>
              <label for="z1">Zahl 1 eingeben: </label>
              <input type="number" id="z1" placeholder="Zahl1">
              <br>
              <label for="z2">Zahl 2 eingeben: </label>
              <input type="number" id="z2" placeholder="Zahl2">
              <br>
              <button type="submit" class="btn"> Berechnen</button>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapsefour">
              Division
            </a>
          </div>
        <div id="collapsefour" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <form>
              <label for="z1">Zahl 1 eingeben: </label>
              <input type="number" id="z1" placeholder="Zahl1">
              <br>
              <label for="z2">Zahl 2 eingeben: </label>
              <input type="number" id="z2" placeholder="Zahl2">
              <br>
              <button type="submit" class="btn"> Berechnen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
      