<div>
  <div class="container">
    <h2>Rechner</h2>
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Addition
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <form>
              <label for="z1"> </label>
              <input type="number" id="z1" placeholder="Zahl1" #z1a>
              <label for="z2">  addiert mit   </label>
              <input type="number" id="z2" placeholder="Zahl2" #z2a>
              <br>
              <button type="button" class="btn" (click)="addition(z1a,z2a)"> Berechnen</button>
              <p>{{ c_a }}</p>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Subtraktion
        </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <form>
              <label for="z1">Zahl 1 eingeben: </label>
              <input type="number" id="z1" placeholder="Zahl1" #z1s>
              <br>
              <label for="z2">Zahl 2 eingeben: </label>
              <input type="number" id="z2" placeholder="Zahl2" #z2s>
              <br>
              <button type="button" class="btn" (click)="subtraction(z1s,z2s)"> Berechnen</button>
              <p>{{ c_s }}</p>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Multiplikation
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <form>
              <label for="z1">Zahl 1 eingeben: </label>
              <input type="number" id="z1" placeholder="Zahl1" #z1m>
              <br>
              <label for="z2">Zahl 2 eingeben: </label>
              <input type="number" id="z2" placeholder="Zahl2" #z2m>
              <br>
              <button type="button" class="btn" (click)="multiplication(z1m,z2m)"> Berechnen</button>
              <p>{{ c_m }}</p>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapsefour">
              Division
            </a>
          </div>
        <div id="collapsefour" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <form>
              <label for="z1">Zahl 1 eingeben: </label>
              <input type="number" id="z1" placeholder="Zahl1" #z1d>
              <br>
              <label for="z2">Zahl 2 eingeben: </label>
              <input type="number" id="z2" placeholder="Zahl2" #z2d>
              <br>
              <button type="button" class="btn" (click)="division(z1d,z2d)"> Berechnen</button>
              <p>{{ c_d }}</p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
      