div{
    margin-top: 75px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}
input{
    font-size: 20px;
    margin-top: 10px;
    width: 250px;
}
button{
    width: 200px;
    font-size: 20px;
    margin-top: 10px;
    background-color: lightblue;
    margin-left: 33%;
    margin-right: 33%;
}
select{
    height: 20px;
    width: 125px;
    margin-left: 50px;
}
.animal{
    margin-left: -80px;
    margin-top: 0px;
}
label{
    margin-left: 0px;
}
.animal img{
    width: 25%;
    margin-top: 25px;
    margin-left: 175px;
}
.false{
    border: red;
    border-width: 4px;
    
}

.basic-button{
  
    background-color: #ededed;
      border-radius:10px;
      display:inline-block;
      cursor:pointer;
      color:black;
      font-family:Arial;
      font-size:16px;
      padding:10px 25px;
    text-decoration:none;
    width: 150px;
      
  }
.basic-button:hover {
    background-color:#5cbf2a;
}

.Überschrift{
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .Text{
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
  }