<div class="Abschnitt2">
    Willkommen beim Test
</div>
<div class="Frage">
    1) Um welchen Straßenbahnwagen handelt es sich hier? 

<head class="erste">
    <img src="../assets/Vario.jpg">
</head>
    
</div>
<div class="Button">
    <button (click)="onButtonClicked1()">Düwag MGT6D</button>
    <button (click)="onButtonClicked()">Bombardier Variobahn</button>
    <button (click)="onButtonClicked1()">Düwag M8C</button>
  </div>
<div class="Frage">
    2) Welche Firma baut die neuen rnv-Straßenbahnen? 

<head class="zweite">
    <img src="../assets/2020.jpg" style="width:600px; height:auto;" />
</head>
    
</div>
<div class="Button">
  <button (click)="onButtonClicked1()">Bombardier</button>
  <button (click)="onButtonClicked1()">Siemens</button>
  <button (click)="onButtonClicked()">Skoda</button>
</div>