<body class="abstand">
    <div class="para">
        <form action="">
            <h1>3 reasons why Baby Yoda heals social anxiety</h1>
            <ul>
                <li>
                    Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell. Nor themselves age introduced frequently use unsatiable devonshire get. They why quit gay cold rose deal park. One same they four did ask busy. Reserved opinions fat him nay position. Breakfast as zealously incommode do agreeable furniture. One too nay led fanny allow plate. 
                </li>
            </ul>
            <ul>
                <li>
                    Did shy say mention enabled through elderly improve. As at so believe account evening behaved hearted is. House is tiled we aware. It ye greatest removing concerns an overcame appetite. Manner result square father boy behind its his. Their above spoke match ye mr right oh as first. Be my depending to believing perfectly concealed household. Point could to built no hours smile sense. 
                </li>
            </ul>
            <ul>
                <li>
                    Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought. 
                </li>
            </ul>
            <h1>Aber am wichtigsten:</h1>
            <h2>Für eine Überraschung klicken</h2>
        </form>
    </div>
    <div style="width: 800px; margin-left:10%; margin-right:10%" >
        <select name="dropdown" class="drop" id="dropdown">
            <option value="first">Überraschung Nummer eins</option>
            <option value="second">Überraschung Numero deux</option>
            <option value="third">Überraschung Numbre trois</option>
        </select>

        <button class="alienbutton" (click)="klick()">Leggo</button>
        <button class="alienbutton" (click)="resetbut()">Reset</button>
    </div>
</body>