<div class="quiz">
  <lib-ng-q-and-a [persistencyURLForGetRequest]="persistencyURLForGetRequest"
                  [persistencyURLForAddRequest]="persistencyURLForAddRequest"
                  [persistencyURLForUpdateRequest]="persistencyURLForUpdateRequest">
  </lib-ng-q-and-a>
</div>

<body>
  <h2>
    Willkommen auf der Play and Learn Seite der Klasse WWI18DSA
  </h2>
  <p>
    Auf dieser Seite findet sich so manches witziges Feature und vllt sogar das ein oder andere nette Spiel
  </p>
</body>




