<div>
  <lib-ng-q-and-a [persistencyURLForGetRequest]="persistencyURLForGetRequest"
                  [persistencyURLForAddRequest]="persistencyURLForAddRequest"
                  [persistencyURLForUpdateRequest]="persistencyURLForUpdateRequest">
  </lib-ng-q-and-a>
</div>

<br>
<fieldset>
  <form action="">
  <legend id="legende">Zeige Rätsel mit Bewertung über:</legend>
<fieldset >
      <input type="radio" id="1" name="stern" value="1">
      <label for="1" aria-label="1 Star" class="Stern">☆</label>
      <label for="1" aria-label="2 Stars">☆</label>
      <label for="1" aria-label="3 Stars">☆</label>
      <label for="1" aria-label="4 Stars">☆</label>
      <label for="1" aria-label="5 Stars">☆</label>
    </fieldset> 

<fieldset>     
      <input type="radio" id="2" name="stern" value="2">
      <label for="2" aria-label="1 Star" class="Stern">☆</label>
      <label for="2" aria-label="2 Stars" class="Stern">☆</label>
      <label for="2" aria-label="3 Stars">☆</label>
      <label for="2" aria-label="4 Stars">☆</label>
      <label for="2" aria-label="5 Stars">☆</label>
    </fieldset> 

<fieldset>    
      <input type="radio" id="3" name="stern" value="3">
      <label for="3" aria-label="1 Star" class="Stern">☆</label>
      <label for="3" aria-label="2 Stars" class="Stern">☆</label>
      <label for="3" aria-label="3 Stars" class="Stern">☆</label>
      <label for="3" aria-label="4 Stars">☆</label>
      <label for="3" aria-label="5 Stars">☆</label>
  </fieldset>

<fieldset>
      <input type="radio" id="4" name="stern" value="4">
      <label for="4" aria-label="1 Star" class="Stern">☆</label>
      <label for="4" aria-label="2 Stars" class="Stern">☆</label>
      <label for="4" aria-label="3 Stars" class="Stern">☆</label>
      <label for="4" aria-label="4 Stars" class="Stern">☆</label>
      <label for="4" aria-label="5 Stars">☆</label>
  </fieldset>

  <fieldset>
  <input type="radio" id="5" name="stern" value="5">
  <label for="5" aria-label="1 Star" class="Stern">☆</label>
  <label for="5" aria-label="2 Stars" class="Stern">☆</label>
  <label for="5" aria-label="3 Stars" class="Stern">☆</label>
  <label for="5" aria-label="4 Stars" class="Stern">☆</label>
  <label for="5" aria-label="5 Stars" class="Stern">☆</label>

  </fieldset>
  <br>
  <button (click)="filterrating()">Rätsel filtern</button> 
</form>
</fieldset>