div {
  margin-top: auto;
}
.tic-tac-toe table {
  border: 2px solid black;
  border-collapse: collapse;
}

.tic-tac-toe td {
  border: 1px solid black;
  height: 5em;
  position: relative;
  text-align: center;
  width: 5em;
}

.tic-tac-toe table:not(.game-over) td {
  cursor: pointer;
}

.tic-tac-toe td button {
  position: absolute;
  left: -100vw;
}

.tic-tac-toe .o {
  background: #8f8;
  color: #8f8;
}

.tic-tac-toe .x {
  background: #f88;
  color: #f88;
}

.tic-tac-toe .o,
.tic-tac-toe .x {
  z-index: -1;
}

.tic-tac-toe .o::after,
.tic-tac-toe .x::after {
  color: black;
  display: block;
  font-size: 5em;
  position: absolute;
  width: 100%;
}

.tic-tac-toe .o::after {
  content: "○";
  top: -0.2em;
}

.tic-tac-toe .x::after {
  content: "×";
  top: -0.125em;
}

.tic-tac-toe .o.highlighted::after,
.tic-tac-toe .x.highlighted::after {
  text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 4px white,
    0 0 5px white,
    0 0 6px white,
    0 0 7px white;
}

.tic-tac-toe .game-over {
  border-color: red;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.eyes{
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  transform: translateX(-35%);
  width: 120%;
  text-align: center;
}
.eye{
  width: 120px;
  height: 60px;
  background: lightgray;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball{
  width: 20px;
  height: 20px;
  background: black;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 15px solid rgb(47, 141, 196);
}
p {
  margin-top: 100px;
}







